.vue-color
  color #42b983

.grey-color
  color #757575

.grey-bg
  background rgba(27,31,35,.05)
  padding .25rem .5rem
  border-radius 3px
  margin 0
  font-size: .85em

.pink-color
  color #F48FB1

.bold-font
  font-size 18px

